html{
	color:#000;
	background:#FFF;
}
body{
	background:#FFF;
	color:#666;
	position:relative;
	font-size:100%;
	font:14px "Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif;
	margin: 0px auto;

}
img{
	border:none;
}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img{
	border:0;
}
input,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
	color:#555;
	cursor: pointer;

}
a:hover, a:active, a:link, a:visited{
	text-decoration: none;
	color: #555;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
/* 清除浮动*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clear{
	clear:both;
}
.border{
	border: 1px solid red;
}
button{
	outline:none
}
.fl{
	float: left;
}
.rl{
	float: right;
}
